@mixin margin {
  margin: 0;
  padding: 0;
}

@mixin sectionpadding {
  padding: 2.5% 0;
}

@font-face {
  font-family: "Munich";
  src: url('../fonts/munich.ttf');
}

@font-face {
  font-family: "Liquido";
  src: url('../fonts/liguido.otf');
}

@font-face {
  font-family: "NT Fabulous";
  src: url('../fonts/nt-fabulous-alternative.otf');
}

@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@700&display=swap');

// $onyx: #363732;
$onyx:#201E1F;
$ivory: #EBEBD3;
// $cinnabar: #E94F37;
$cinnabar: #5CFFD1;
$white: #fff;

html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  background: $white;
}

body {
  // @include margin;
  font-size: 22px;
  line-height: 1.7em;
  overflow-x: hidden;
  font-family: 'Playfair Display', sans-serif;
  width: 100%;
  height: auto;
}

* {
  @include margin;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 50px;
  font-weight: 200;
  // font-family: 'Playfair Display', sans-serif;
  // font-family:'Munich', sans-serif;
  // font-family: 'Liquido';
  font-family:'NT Fabulous', sans-serif;
  // font-family: 'Atkinson Hyperlegible', sans-serif;
}

h2 {
  font-size: 1.75em;
  font-weight: 200;
}

h3 {
  font-size: 35px;
  font-weight: 200
}

p {
  font-style: normal;
}

.mainbtn {
  position: relative;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: $onyx;
  border: 2px solid $onyx;
  padding: 10px 20px;
  overflow: hidden;
  transition: color 1s;
  z-index: 1;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
}

.mainbtn:hover {
  color: $onyx;
  outline: 2px solid $ivory;
}

.mainbtn::before {
  content: '';
  position: absolute;
  top: 0;
  left: -50px;
  z-index: -1;
  width: 150%;
  height: 100%;
  background: $cinnabar;
  transform: scaleX(0) skewX(35deg);
  transform-origin: left;
  transition: transform 1s;
}

.mainbtn:hover::before {
  transform: scaleX(1) skewX(35deg);
  // z-index: 1;
}

.body-container {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner-container {
  width: 100%;
  height: auto;
}

.nav-area {
  width: 100%;
  height: auto;
  min-height: 50px;
  background: $cinnabar;
  position: fixed;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
  padding: 1.5% 0;
  z-index: 999;
  transition: .5s ease-in-out;

  @media screen and (max-width:900px) {
    display: none;
  }
}

.nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  ul {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;

    li {
      list-style-type: none;
      margin-left: 10px;


      a {
        color: $onyx;
      }
    }
  }
}

.header-area {
  width: 100%;
  height: auto;
  padding-top: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: linear-gradient(to top, $ivory 20%, $cinnabar 10%, $cinnabar 10%);
}

.header-item {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
}

.header-container {
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color:$onyx;

  .xl {
    margin-bottom: 5%;
    color:$onyx;
  }

  p {
    margin-bottom: 5%;
    font-size:2em;
    line-height:1.2em;
  }

  img {
    width: 100%;
    clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
    // clip-path: polygon(100% 0, 100% 0, 0 0, 0 0);
    box-shadow: 10px 10px 0 $onyx;
  }
}

.xl {
  font-weight: 400;
  font-size: 10vw;
  line-height: 1em;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;

  @media screen and (max-width:900px) {
    font-size: 10vw;
  }
}

.xl2 {
  font-size: 6vw;
  line-height: 1em;
  font-weight: 900;
  font-family: 'Inter', sans-serif;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;

  @media screen and (max-width:900px) {
    font-size: 10vw;
  }
}

.change-fnt {
  font-family: 'Lora', serif;
  font-weight: 700 !important;
}

#namecircle {
  position: absolute;
  width: 40%;
  height: auto;
  top: 50%;
  left: 50%;
  z-index: 10;
  transform: translate(-90%, 10%);
}

.social {
  position: absolute;
  top: 20%;
  right: 20%;
  transform: translate(80%, -90%);
  position: fixed;
  z-index: 999;

  i {
    font-size: 2.5em;
    margin: 0 10px;
    color: $cinnabar;
  }
}

.about {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background:$ivory;
}

.about-container {
  width: 90%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  padding: 5% 0;
}

.about-item {
  width: 100%;
  height: auto;
  min-height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;

  p {
    font-size: 2.5em;
    line-height: 1em;
  }

  img {
    width: 60%;
    height: auto;
    clip-path: polygon(100% 0, 100% 0, 0 0, 0 0);
  }
}

#recent{
  width:100%;
  margin-right:5%;
}

.work {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  background:$ivory;
  background-size: cover;
}

.work-container {
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.work-item{
  width:100%;
  height:auto;
  display:flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.container{
  width:700%;
  display:flex;
  flex-direction:row;
  padding:5% 0 2.5% 0;
  background:$ivory;
  -moz-display:none;

  @media screen and (max-width:900px){
    display: none;
  }
}

@supports (-moz-appearance:none) {
  .container{
    padding-top:0px!important;
  }
}

.panel{
  width:100vw;
  height:90vh;
  // margin-right:20px;
  display:grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: auto;
  grid-template-areas:". .";
  background:$ivory;
  align-items: center;
  justify-content: center;
  color:$onyx;
  // border:1px solid red;

  // &:nth-of-type(1){
  //   width:25%!important;
  // }

  @media screen and (max-width:900px){
    grid-template-columns: 1fr;
    grid-template-areas: ".";

    img{
      width:50%;
    }
    h1{
      color:$onyx;
    }
  }

  img{
    width:60%;
    height:auto;
    box-shadow:20px 20px 0 $cinnabar;
  }
}

.panel-item{
  display:flex;
  flex-direction:column;;
  h1{
    margin-bottom:25px;
    color:$onyx;
  }
  p{
    margin-bottom:25px;
  }

  &:nth-of-type(1){
    align-items: flex-end;
    justify-content: flex-start;
    padding-right:5%;
  }

  &:nth-of-type(2){
    align-items: flex-start;
    justify-content: flex-start;
    padding-top:10%;

    p{
      padding-right:15%;
    }
  }
}

// #ppaws-img{
//   clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
// }

.work-swiper {
  display:none;
    @media screen and (max-width:900px){
      display:block;
      width: 90%;
      height: auto;
    }
  }

.swiper-slide {
  width: 100%;
  height: auto;
  min-height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border:1px solid red;

  img{
    width:100%;
    height:auto;
  }
}

// .slide-item{
//   display:flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;

//   img{
//     width:100%;
//     height:auto;
//     margin-bottom:20px;
//   }
//   h2{
//     margin-bottom:20px;
//   }
//   p{
//     color:$onyx;
//     line-height: 1em;
//     text-align: center;
//     margin-bottom:20px;
//   }
// }

.swiper-scrollbar{
  background:green;
}

.swiper-button-next-custom {
  z-index: 10;
  ;

  &:hover {
    cursor: pointer;
  }

  img {
    width: 150px;
    height: auto;
  }
}

.tech {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5% 0;
  background-color: $white;
}

.tech-container {
  width: 90%;
  height: auto;
  min-height: 60vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, .5fr));
  gap: 20px;

  @media screen and (max-width:900px) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-template-areas: ". .";
  }
}

.tech-item {
  width: 100%;
  height: auto;
  // border: 1px solid $onyx;
  display: flex;
  flex-direction: column;
  background: $onyx;
  border-radius: 10px;
}

.tech-item-inner {

  &:nth-of-type(1) {
    background: $white;
    height: 50px;
  }

  &:nth-of-type(2) {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    h2 {
      color: $white;
    }
  }
}

marquee {
  color: $onyx;
  min-height: 200px;

  @media screen and (max-width:900px) {
    height: auto;
    min-height: 100px;
  }
}

// .contact {
//   width: 100%;
//   height: auto;
//   padding:5% 0;
//   display:flex;
//   align-items: center;
//   justify-content: center;
//   background-image: url('../images/pattern.png');
//   background-size: cover;
//   background-position: bottom;
// }

// .contact-container{
//   width:90%;
//   height:auto;
//   display: flex;
//   align-items: center;
//   justify-content: center;

//   @media screen and (max-width:900px){
//     flex-direction:column;
//   }

// }

// .contact-item {
//   width: 100%;
//   height: auto;
//   padding:5% 0;
// }

.form-container{
  width:90%;
  height:auto;

  form{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto;
    grid-template-areas:"name email" "phone phone" "message message" ;
    gap:10px;
    font-family: 'Playfair Display', serif;

    input{
      outline:0;
      border:3px solid $onyx;
      min-height:50px;
      padding-left:20px;
      font-family: 'Playfair Display', serif;
      box-shadow: 3px 3px 0 $onyx;
      background:$white;
      
      &::placeholder{
        font-weight: bold;
        font-family: 'Playfair Display', serif;
        font-size:1.5em;
        font-weight: 200;
      }
    }
    textarea{
      font-family: 'Playfair Display', serif;
      padding-left:20px;
      padding-top:20px;
      border:3px solid $onyx;
      box-shadow: 3px 3px 0 $onyx;
      
      &::placeholder{
        font-weight: bold;
        font-family: 'Playfair Display', serif;
        font-size:1.5em;
        font-weight: 200;
      }
    }
  }
}

#name{
  grid-area:name;
}
#email{
  grid-area:email;
}
#phone{
  grid-area:phone;
}
#message{
  grid-area:message;
}

.new-contact{
  width:100%;
  height:auto;
  display:flex;
  align-items: center;
  justify-content: center;
}

.contact-container{
  width:100%;
  height:auto;
  display:grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: auto;
  grid-template-areas: ". .";
  border-bottom:3px solid $onyx;
  border-top:3px solid $onyx;

  @media screen and (max-width:900px){
    grid-template-columns: 1fr;
    grid-template-areas:".";
  }
}

.contact-item{
  width:100%;
  height:auto;
  min-height: 100vh;

  &:nth-of-type(1){
    width:100%;
    height:auto;
    display:flex;
    flex-direction:column;
    border-right:3px solid $onyx;
  }

  &:nth-of-type(2){
    display:flex;
    align-items: center;
    justify-content: center;
    background:$cinnabar;
    border-left:3px solid 4onyx;
  }
}

.contact-inner{
  width:100%;
  display:flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  border-right:3px solid $onyx;
  z-index: 5;

  &:nth-of-type(1){
    height:60%;

    .getintouch-container{
      width:60%;
      display:flex;
      flex-direction:column;
      align-items: flex-start;
      justify-content: flex-start;
    }
  }
  &:nth-of-type(2){
    height:40%;
    background:$white;
    border-top:3px solid $onyx;

    a{
      color:$onyx;
    }
  }
}

// PINNED SECTION
.pinned{
  width:100%;
  height:auto;
  display:flex;
  align-items: flex-start;
  justify-content: center;
  min-height:50vh;
  background:$white;
  z-index: 100;

  h1{
    color:$onyx;
    text-align: center;
    transform:scale(2);
  }
}

// FOOTER STYLES

footer {
  width: 100%;
  height: auto;
  min-height: 60vh;
  background:$cinnabar;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  z-index: 10;

  @media screen and (max-width:900px) {
    align-items: center;
    justify-content: center;
  }
}

.footer-container {
  width: 90%;
  height: auto;
  background: $cinnabar;
  min-height: 50vh;
  border:1px solid $onyx;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-template-areas: ". . .";

  @media screen and (max-width:900px) {
    grid-template-columns: 1fr;
    grid-template-areas: ".";
  }
}

.footer-item {
  width: 100%;
  height: auto;
  padding: 5% 0;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 80%;
    height: auto;

    @media screen and (max-width:900px) {
      width: 50%;
    }
  }

  &:nth-of-type(2) {
    a {
      color: $onyx;
      font-size: 2em;
      font-family: 'Playfair Display', sans-serif;
    }
  }

  &:nth-of-type(3) {
    display: flex;
    flex-direction: column;

    @media screen and (max-width:900px) {
      flex-direction: row;

      i {
        margin: 0 5px;
      }
    }

    i {
      font-size: 2em;
      color: $onyx;
      margin-bottom: 15px;
    }
  }
}

// input[type="submit"] {
//   position: relative;
//   display: inline-block;
//   text-decoration: none;
//   text-transform: uppercase;
//   letter-spacing: 2px;
//   color: $ivory;
//   outline: 2px solid $ivory;
//   padding: 10px 20px;
//   overflow: hidden;
//   transition: color 1s;
//   z-index: 1;
//   font-family: 'Roboto', sans-serif;
//   font-size: 1.5em;
// }

// input[type="submit" i]:hover {
//   color: $onyx;
//   outline: 2px solid $ivory;
// }

// input[type="submit" i]::before {
//   content: '';
//   position: absolute;
//   top: 0;
//   left: -50px;
//   z-index: -1;
//   width: 150%;
//   height: 100%;
//   background: $ivory;
//   transform: scaleX(0) skewX(35deg);
//   transform-origin: left;
//   transition: transform 1s;
// }

// input[type="submit" i]:hover::before {
//   transform: scaleX(1) skewX(35deg);
//   z-index: 1;
// }


// MARQUEE-ISH ANIMATION
@keyframes scroll {
  0% {
    left: 100%;
  }

  100% {
    left: -100%;
  }
}

@keyframes scroll2 {
  0% {
    left: 100%;
  }

  100% {
    left: 0%;
  }
}

@keyframes scale {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.15)
  }

  100% {
    transform: scale(1);
  }
}