body{
  background-image: url('https://farm5.staticflickr.com/4292/36093318101_f01fa25223_z.jpg');
  margin:0;
  overflow-x: hidden;
}
#three3{
  border-right: 4px solid #007EA7;
  margin-right: 2%;
  width:4em;
}
#two2{
  border-right: 4px solid #007EA7;
  margin-right: 2%;
  width:4em;
}
#one{
  height:100vh;
}
#insideOne{
  opacity: .9;
  margin-bottom:1em;
  height:100vh;
  width:200%;
  background-image: url('https://farm6.staticflickr.com/5718/30948464751_cd8e4a960e_z.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
}
#insideLanding{
  height:80%;
  border: 10px solid black;
  margin-top: 5%;
  margin-left: 4.5%;
  /*background-color: rgba(0,0,0,0.75);*/
  font-family: 'Josefin Sans', sans-serif;
  font-size: 10em;
  color: #007EA7;

}
#den{
  margin-top: -90px;
}
#two{
  height:40vh;
  text-align: center;
}
#about{
  font-size: 3em;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Open Sans Condensed', sans-serif;
  margin-top: 10%;
  visibility: hidden;
}
#three{
  height:80vh;
  text-align: center;
  background-color: rgba(0,0,0,0.95);
  /*border-radius: 5px;*/
}
#four{
  height:100vh;
}
#leftOne{
  height:50vh;
  background-color: rgba(0,0,0,0.97);
  margin-top: 10%;
  /*border-radius: 5px;*/
}
#animalInfo{
  height:50vh;
  background-color: rgba(0,0,0,.90);
  text-align: center;
}
#animalText,
#reuText,
#presText{
  color:white;
  font-size: 2.5em;
  margin-top: 10%;
  font-family: 'Amatic SC', cursive;

}
#rightOne{
  height:50vh;
  background-color: red;
  margin-top: 10%;
}
#reuInfo{
  height:50vh;
  background-color: rgba(0,0,0,.90);
  text-align: center;
}
i{
  font-size: 5em;
}
#html,
#css,
#ruby,
#rails,
#bootstrap,
#github{
  margin-top: 1.8em;
  color: white;
  visibility: hidden;
}
.mainBtn{
  height:4em;
  width:16em;
  border:3px solid white;
  background: black;
  color:white;
  font-weight: bold;
  font-kerning: 1em;
  font-style: oblique;
  visibility: hidden;
  text-transform: uppercase;
}
.mainBtn:hover{
  background-color: #007EA7;
  border: 3px solid #007EA7;
  transition: .5s;
  opacity: .75;
}
#btnOne{
  margin-top: 20%;
}
#btnTwo{
  margin-top: 20%;
}
#leftone{
  height:50vh;
  background-image: url('http://farm3.staticflickr.com/2913/33227103623_5ca6a6866c_b.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(0,0,0,.8);
  opacity: .9;
  text-align: center;
  /*visibility: hidden;*/
}
#animal{
  font-size: 2em;
  color:white;
}
#reuManager{
  height:50vh;
  background-color: green;
  background-image: url('http://farm4.staticflickr.com/3931/33998503646_8560a68020_b.jpg');
  text-align: center;
  /*visibility: hidden;*/
}
#presentation{
  height:50vh;
  background-image: url('http://farm4.staticflickr.com/3931/33998502936_ecc543a9d9_b.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  opacity: .9;
  text-align: center;
  /*visibility: hidden;*/
}
#presInfo{
  height:50vh;
  background-color: rgba(0,0,0,.90);
  text-align: center;
}
#afflab{
  height:50vh;
  background-color: blue;
  background-image: url('https://farm5.staticflickr.com/4177/33580381953_045f7a0ff1_z.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  /*visibility: hidden;*/
}
#afflabInfo{
  height:50vh;
  background-color: rgba(0,0,0,.90);
}
#solid{
  height:50vh;
  background-color: red;
  background-image: url('https://farm3.staticflickr.com/2886/33955048491_6e129828f1_z.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  /*visibility: hidden;*/
}
#projInfo{
  height:50vh;
  background-color: rgba(0,0,0,.90);
  text-align: center;
}
#quote{
  height:60vh;
  text-align: center;
  background-color: rgba(0,0,0,0.95);;
}
#einstein{
  font-size: 2em;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  margin-top: 5%;
  visibility: hidden;
}
#skills{
  height:60vh;
}
#map{
  height:60vh;
  background-image: url('https://farm5.staticflickr.com/4419/36948656221_f5bdbd1cc1_z.jpg');
}
#information{
  height:60vh;
  text-align: center;
  background-color: rgba(0,0,0,.90);
}
#inTouch{
  font-size: 3em;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  color:white;
  margin-top: 5%;
  visibility: hidden;
}
#btnThree{
  visibility: hidden;
}
#call{
  font-size: 2.5em;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  margin-top: 5%;
  color: white;
  font-style:italic;
  visibility: hidden;
}
#info{
  font-size: 2.5em;
  color:white;
}
#facebook,
#instagram,
#linkedin,
#github1{
  font-size: 1.75em;
  color:white;
  letter-spacing: .5em;
  visibility: hidden;
}
#copyright{
  height:5vh;
  text-align: center;
  background-color: rgba(0,0,0,1);
}
#copy{
  color:white;
  font-size: 1.5em;
  position:fixed;
}
@media only screen and (max-width:800px){
  #insideLanding{
    color:green;
    font-size: 7em;
    margin-top: 5%;
    margin-bottom: 2%;
  }
  #den{
    margin-top: 1%;
  }
  #animalInfo,
  #reuInfo,
  #presInfo,
  #afflabInfo,
  #projInfo{
    display: none;
  }
  #iformation{
    height:100%;
  }
  #quote{
    display:none;
  }
  #three{
    font-size: .75em;
  }
  #html,
  #css,
  #ruby,
  #rails,
  #bootstrap,
  #github{
    display:none;
  }
  #copyright{
    display:none;
  }
}
/*==============================================
slideUp
==============================================*/
.slideUp{
	animation-name: slideUp;
	-webkit-animation-name: slideUp;

	animation-duration: 1.5s;
	-webkit-animation-duration: 1.5s;

	animation-timing-function: ease;
	-webkit-animation-timing-function: ease;

	visibility: visible !important;
}

@keyframes slideUp {
	0% {
		transform: translateY(100%);
	}
	100% {
		transform: translateY(0%);
	}
}

@-webkit-keyframes slideUp {
	0% {
		-webkit-transform: translateY(100%);
	}
	100% {
		-webkit-transform: translateY(0%);
	}
}
/*==============================================
slideLeft
==============================================*/

.slideLeft{
	animation-name: slideLeft;
	-webkit-animation-name: slideLeft;

	animation-duration: 1s;
	-webkit-animation-duration: 1s;

	animation-timing-function: ease-in-out;
	-webkit-animation-timing-function: ease-in-out;

	visibility: visible !important;
}

@keyframes slideLeft {
	0% {
		transform: translateX(150%);
	}
	100% {
		transform: translateX(0%);
	}
}

@-webkit-keyframes slideLeft {
	0% {
		-webkit-transform: translateX(150%);
	}
	100% {
		-webkit-transform: translateX(0%);
	}
}
/*==============================================
slideRight
==============================================*/

.slideRight{
	animation-name: slideRight;
	-webkit-animation-name: slideRight;

	animation-duration: 1s;
	-webkit-animation-duration: 1s;

	animation-timing-function: ease-in-out;
	-webkit-animation-timing-function: ease-in-out;
	visibility: visible !important;
}

@keyframes slideRight {
	0% {
		transform: translateX(-150%);
	}
	100% {
		transform: translateX(0%);
	}
}

@-webkit-keyframes slideRight {
	0% {
		-webkit-transform: translateX(-150%);
	}
	100% {
		-webkit-transform: translateX(0%);
	}
}
/*SLIDE LEFT*/
.slideLeft{
 	animation-name: slideLeft;
 	-webkit-animation-name: slideLeft;

 	animation-duration: 2s;
 	-webkit-animation-duration: 2s;

 	animation-timing-function: ease-in-out;
 	-webkit-animation-timing-function: ease-in-out;

 	visibility: visible !important;
 }

 @keyframes slideLeft {
 	0% {
 		transform: translateX(150%);
 	}
 	100% {
 		transform: translateX(0%);
 	}
 }

 @-webkit-keyframes slideLeft {
 	0% {
 		-webkit-transform: translateX(150%);
 	}
 	100% {
 		-webkit-transform: translateX(0%);
 	}
 }

/*SLIDE RIGHT*/
.slideRight{
 	animation-name: slideRight;
 	-webkit-animation-name: slideRight;

 	animation-duration: 2s;
 	-webkit-animation-duration: 2s;

 	animation-timing-function: ease-in-out;
 	-webkit-animation-timing-function: ease-in-out;

 	visibility: visible !important;
 }

@keyframes slideRight {
 	0% {
 		transform: translateX(-150%);
 	}
 	100% {
 		transform: translateX(0%);
 	}
 }

 @-webkit-keyframes slideRight {
 	0% {
 		-webkit-transform: translateX(-150%);
 	}
 	100% {
 		-webkit-transform: translateX(0%);
 	}
 }
 /*==============================================
fadeIn
==============================================*/

.fadeIn{
	animation-name: fadeIn;
	-webkit-animation-name: fadeIn;

	animation-duration: 1.3s;
	-webkit-animation-duration: 1.3s;

	animation-timing-function: ease-in-out;
	-webkit-animation-timing-function: ease-in-out;

	visibility: visible !important;
}

@keyframes fadeIn {
	0% {
		transform: scale(.5);
		opacity: 0.0;
	}
	/*60% {
		transform: scale(1.1);
	}
	80% {
		transform: scale(0.9);
		opacity: 1;
	}*/
	100% {
		transform: scale(1);
		opacity: 1;
	}
}

@-webkit-keyframes fadeIn {
	0% {
		-webkit-transform: scale(0);
		opacity: 0.0;
	}
	60% {
		-webkit-transform: scale(1.1);
	}
	80% {
		-webkit-transform: scale(0.9);
		opacity: 1;
	}
	100% {
		-webkit-transform: scale(1);
		opacity: 1;
	}
}
