@import url("https://fonts.googleapis.com/css?family=Raleway:100,400,700&display=swap");
a {
  text-decoration: none; }

html {
  scroll-behavior: smooth; }

body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #F2EFE9;
  font-family: 'Raleway', sans-serif;
  overflow-x: hidden; }

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 11;
  left: 0;
  top: 0;
  background-color: black;
  background-color: #F2EFE9;
  /* background-image: url('./images/bg-pattern.svg');
  background-size: cover; */
  overflow-x: hidden;
  transition: 0.5s; }

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px; }

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #124559;
  display: block;
  transition: 0.3s; }

.overlay a:hover, .overlay a:focus {
  font-size: 40px;}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px; }

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px; }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px; } }

.logo {
  z-index: 100;
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 2.5%;
  background: #124559; }

.logocontent {
  display: flex;
  flex-direction: column; }
  .logocontent a {
    font-weight: 900;
    color: #F2EFE9;
    text-decoration: none;
    font-size: 2.5em;
    line-height: .75em; }

@media screen and (max-width: 800px) {
  .logocontent a {
    text-shadow: 1px 1px 1px #F2EFE9; } }

.open {
  cursor: pointer;
  padding-left: 15%; }

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 2px;
  background-color: #F97068;
  margin: 6px -10px;
  transition: 0.4s; }

@media screen and (max-width: 800px) {
  .bar1, .bar2, .bar3 {
    height: 5px; } }

.hero {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end; }
  .hero .heroInnerRight {
    width: 60%;
    height: 100vh;
    z-index: -1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left; }
    .hero .heroInnerRight h1 {
      display: none;
      margin: 0;
      color: #F2EFE9;
      background: #2F2F2F;
      padding: 5% 10% 2% 3%;
      font-size: 5vw;
      font-weight: 100; }
    .hero .heroInnerRight h3 {
      display: none;
      margin: 0;
      color: #F2EFE9;
      background: #2F2F2F;
      padding: 5% 10% 2% 3%;
      font-size: 2.5em;
      font-weight: 100; }
  @media screen and (max-width: 800px) {
    .hero .hero {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      text-align: left;
      padding-top: 5%; }
    .hero .heroInnerRight h1 {
      display: flex; }
    .hero .heroInnerRight h3 {
      display: flex; } }
  .hero .heroInnerLeft {
    background-image: url("./images/contours.png");
    background-position: center;
    width: 40%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left; }
    .hero .heroInnerLeft h1 {
      margin: 0;
      color: #F2EFE9;
      background: #124559;
      padding: 5% 10% 2% 3%;
      font-size: 5vw;
      font-weight: 400;
      -webkit-transform: translateX(100%);
              transform: translateX(100%); }
    .hero .heroInnerLeft h3 {
      margin: 0;
      color: #F2EFE9;
      background: #F97068;
      padding: 5% 10% 2% 3%;
      font-size: 2.5em;
      font-weight: 100;
      -webkit-transform: translateX(100%);
              transform: translateX(100%); }

@media screen and (max-width: 800px) {
  .hero {
    justify-content: center;
    padding-bottom: 2%; }
  .heroInnerLeft {
    display: none !important; }
  .heroInnerRight {
    width: 100% !important; } }

.social {
  display: flex;
  flex-direction: row;
  position: fixed;
  background: #2F2F2F;
  padding: 10px 20px;
  z-index: 1; }
  .social i {
    padding: 10px;
    font-size: 3em;
    color: #F2EFE9; }
    .social i:hover {
      -webkit-transform: rotate(-20deg);
              transform: rotate(-20deg);
      transition: .75s ease-in-out; }

@media screen and (max-width: 800px) {
  .social {
    background: #2f2f2f; } }

.info {
  height: 60vh;
  display: flex;
  flex-direction: row; }

.infoOuter {
  height: 100%;
  width: 50%;
  background: #124559; }
  .infoOuter img {
    -webkit-transform: translateY(30%);
            transform: translateY(30%);
    height: auto;
    width: 300px;
    z-index: 100;
    visibility: hidden; }
  .infoOuter h1 {
    padding-top: 7.5%;
    padding-left: 2%;
    font-size: 15vw;
    font-weight: 700;
    color: #F2EFE9; }

  @media screen and (max-width:800px){
    .infoOuter img{
      display:none;
    }
    .infoOuter h1{
      padding-top:0;
    }
  }

.introInner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background: #F2EFE9;
  background-image: url("./images/bg-pattern.svg");
  background-repeat: no-repeat;
  padding-left: 10%;
  margin-top: 1%; }
  .introInner p {
    margin-top: 2%;
    padding: 100px;
    color: #F2EFE9;
    font-size: 2em;
    background: #124559;
    font-weight: 100; }

  @media screen and (max-width:800px){
    .introInner{
      margin:0;
      padding:0;
    }
    .introInner p{
      padding:50px;
    }
  }

#slideLeftText {
  visibility: hidden; }

.recent {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10%;
  border: 1px solid red;
  width: 100%; }
  .recent h1 {
    font-size: 3em; }

.recentOuter {
  display: flex;
  flex-direction: column; }

.items {
  display: flex;
  flex-direction: row; }

.itemInner {
  width: 50%;
  height: 80vh; }

.headline h1 {
  color: #F97068;
  font-size: 5em;
  font-weight: 400;
  text-shadow: 2px 2px 2px #124559;
  padding-left: 12%;
  -webkit-transform: translateY(1.25em);
          transform: translateY(1.25em); }

.itemLeft {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #124559; }
  .itemLeft img {
    -webkit-transform: translateX(150px);
            transform: translateX(150px); }

.itemRight {
  background: #2F2F2F;
  text-align: left;
  padding-left: 10%; }
  .itemRight h2 {
    color: #F2EFE9;
    font-weight: 100;
    font-size: 2.75em;
    -webkit-transform: translateY(15%);
            transform: translateY(15%);
    padding: 5% 0 0 0; }
  .itemRight span {
    font-size: .75em; }
  .itemRight p {
    font-size: 1em;
    color: #F2EFE9; }

.workBtn {
  cursor:pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 30px;
  border: 1px solid #F2EFE9;
  max-width: 200px;
  font-size: 1.5em;
  color: #F2EFE9;
  font-weight: 100;
  background: transparent;
  transition: 1s ease-in-out;
  font-family: 'Raleway', sans-serif; }

.homeContact {
  margin: 0;
  padding: 0;
  height: 50vh;
  background: #F2EFE9;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center; }
  .homeContact h1 {
    font-size: 3em;
    font-weight: 100;
    color: #124559; }

.contactBtn {
  background: #124559;
  padding: 10px 30px;
  border: 1px solid #124559;
  color: #F2EFE9;
  font-size: 30px;
  text-decoration: none; }

.parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px; }

.aboutMe {
  height: 100%;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center; }
  .aboutMe p {
    font-size: 1.75em;
    padding: 10%; }

@media screen and (max-width: 800px) {
  .aboutMe {
    padding-top: 20%; } }

.aboutContainer {
  display: grid;
  grid-template: 50% / auto auto auto auto;
  padding: 0 5%;
  z-index: 10; }

.aboutItem {
  height: 250px;
  width: auto;
  border: 1px solid red;
  margin: 2% 10%; }

.contactInner {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100vw;
  max-height: 100vh;
  padding-top: 10%; }

@media screen and (max-width: 800px) {
  .contactInner {
    padding-top: 30%; } }

label {
  display: block;
  letter-spacing: 4px;
  padding-top: 30px;
  text-align: left; }

label input:focus + .label-text {
  color: #F0F0F0;
  font-size: 13px;
  -webkit-transform: translateY(-74px);
  transform: translateY(-74px); }

label input:valid + .label-text {
  font-size: 13px;
  -webkit-transform: translateY(-74px);
  transform: translateY(-74px); }

.label-text {
  color: #2F2F2F;
  cursor: text;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  -webkit-transform: translateY(-34px);
          transform: translateY(-34px);
  transition: all 0.3s; }

input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid #2F2F2F;
  color: #124559;
  font-weight: 900;
  font-size: 36px;
  letter-spacing: -1px;
  outline: 0;
  padding: 5px 20px;
  text-align: left;
  transition: all 0.3s;
  width: 350px; }
  input:focus {
    font-size: 26px;
    -webkit-transform: translateY(-5px) !important;
            transform: translateY(-5px) !important;
    max-width: 100%;
    width: 500px; }

form button {
  padding: 10px 40px;
  font-size: 20px;
  background: transparent;
  border: 2px solid #2F2F2F;
  transition: all 1s ease; }

  /* WORK PAGE STYLES */
  .page{

  }
  main{
  width:100%;
  height:100%;
  padding-top:20%;
}

.section{
  display: flex;
  flex-direction:row;margin-bottom: 5%;
}

.sectionInner{
  height:50vh;
  width:50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left:5%;
  padding-right:5%;
}

.sectionInner img{
  width:100%;
  height:100%;
}

#one{
  visibility: hidden;
}
#two{
  visibility: hidden;
}
#three{
  visibility: hidden;
}
#four{
  visibility: hidden;
}
#five{
  visibility: hidden;
}
#six{
  visibility: hidden;
}

.wrapper{
  background-image: url("./images/contours.png");
  background-size:
}

.sectionInner h3{
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 2em;
}

.sectionInner p{
  font-family: 'Raleway', sans-serif;
  font-size: 1.25em;
  font-weight: 400;
}

.sectionInner a{
  color:#2f2f2f;
  text-decoration: none;
}

@media screen and (max-width:800px){
  #wrapper{
    height:100%;
  }
  .section{
    display: flex;
    flex-direction: column;
    margin:0;
    padding:0;
  }
  .sectionInner{
    width:100%;
  }
  .workImg{
    display:none!important;
  }
  .sectionInner p{
    font-size: 1em;
    padding-right:10%;
  }
  .sectionInner h3{
    font-size: 1.75em;
  }
}

.workPageBtn{
  font-family: 'Raleway', sans-serif;
  border:1px solid black;
  padding:10px 30px;
}

/* ANIMATION DECLARATIONS */
.slideUp {
  animation-name: slideUp;
  -webkit-animation-name: slideUp;
  animation-duration: 2s;
  -webkit-animation-duration: 2s;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  visibility: visible !important; }

@keyframes slideUp {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    -webkit-transform: scale(1.25);
            transform: scale(1.25);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1; } }

@-webkit-keyframes slideUp {
  0% {
    -webkit-transform: translateY(100%);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0%);
    opacity: 1; } }

.slideRight {
  animation-name: slideRight;
  -webkit-animation-name: slideRight;
  animation-duration: 2s;
  -webkit-animation-duration: 2s;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  visibility: visible !important; }

@keyframes slideRight {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transform: scale(1.25);
            transform: scale(1.25);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 1; } }

@-webkit-keyframes slideRight {
  0% {
    -webkit-transform: translateX(-100%);
    -webkit-opacity: .5; }
  100% {
    -webkit-transform: translateX(100%);
    -webkit-opacity: 1; } }

.fade {
  animation-name: fade;
  -webkit-animation-name: fade;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
  visibility: visible !important; }

@-webkit-keyframes fade {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(40%);
            transform: translateY(40%); } }

@keyframes fade {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(30%);
            transform: translateY(30%); } }

.slideLeft {
  animation-name: slideLeft;
  -webkit-animation-name: slideLeft;
  animation-duration: 2s;
  -webkit-animation-duration: 2s;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
  visibility: visible !important; }

@-webkit-keyframes slideLeft {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1; } }

@keyframes slideLeft {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1; } }

/*# sourceMappingURL=style.css.map */
