@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

html{
  /* margin: 0;
  padding: 0; */
  scroll-behavior: smooth;
  background: #000000;
}

body{
  overflow-x: hidden !important;
}

#topIntroL{
  height:100vh;
  background: #1A1A1A;
  background-attachment: fixed;
}

.topIntroText{
  position: relative;
  top: 40%;
  transform: translateY(-80%);
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 10vw;
  color:#fff;
  margin-bottom: -12%;
  padding-left: 2%;
}

@media screen and (max-width:1000px) {
  .topIntroText{
    margin-bottom: -9%;
    font-size: 15vw
  }
}

#awesome{
  color:#D7263D;
}

#topIntroR{
  height:100vh;
  background-image: url('images/city.jpeg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment:fixed;
}

@media screen and (max-width:500px){
  #topIntroR{
    height:60vh;
  }
}
#about{
  height: 100vh;
  background: #1A1A1A;
}

#two{
  height:100%;
  background-image: url('https://farm8.staticflickr.com/7826/33427326508_ac7344ac3f_c.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* background-attachment: fixed; */
  text-align: center;
}

#two p{
  padding: 8%;
  font-family: 'Roboto Condensed', serif;
  color:#fff;
  font-size: 2.5em;
  z-index: 1;
  padding-top: 5%;
  text-shadow: 1px 1px 1px #000;
  visibility: hidden;
}

@media screen and (max-width:500px){
  #two{
    height:100%;
  }
  #two p{
    font-size: 1.75em;
  }
}

#two h1{
  /* padding-top: 2%; */
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 8em;
  z-index: -1;
  color: #D7263D;
  float: left;
  margin-top: 40px;
}

.main{
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  border: 3px solid #fff;
  /* float: right; */
  height:50px;
  width:200px;
  background: transparent;
  color: #fff;
  margin: 1%;
  margin-top: 2%;
  margin-bottom: 3%;
  font-size: 30px;
  /* visibility: hidden; */
}


#work1{
  height:100vh;
  background-image: url('https://farm1.staticflickr.com/972/42108419042_cede1aaf31_z.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#work2{
  height:100vh;
  background-image: url('https://farm5.staticflickr.com/4177/33580381953_045f7a0ff1_z.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#work3{
  height:100vh;
  background-image: url('https://farm5.staticflickr.com/4817/45992279361_e718954c08_z.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#work4{
  height:100vh;
  background-image: url('https://farm5.staticflickr.com/4907/46256438622_f779e51c64_b.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#work5{
  height:100vh;
  background-image: url('https://farm5.staticflickr.com/4541/38425299151_116596a980_z.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* CSS ANIMATIONS */
.slideUp{
	animation-name: slideUp;
	-webkit-animation-name: slideUp;

	animation-duration: 1.5s;
	-webkit-animation-duration: 1.5s;

	animation-timing-function: ease;
	-webkit-animation-timing-function: ease;

	visibility: visible !important;
}

@keyframes slideUp {
	0% {
		transform: translateY(100%);

	100% {
		transform: translateY(0%);
	}
}

@-webkit-keyframes slideUp {
	0% {
		-webkit-transform: translateY(100%);
	}

	100% {
		-webkit-transform: translateY(0%);
	}
}
